/*======================================
        Header
======================================*/
.header {
    width: 100%;
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px #919191;
    background: #fff;
}
