/*    local_slider
------------------------------------*/
.local_slider {
    background: url('../images/bnr_header.jpg') center no-repeat;
    // background-size: cover;
    text-align: center;
    position: relative;
    width: 100%;
    height: 475px;
    // height: 32vw;
    margin: auto;
    .btn_top {
        position: absolute;
        z-index: 9;
        // left: 122px;
        left: 50%;
        bottom: 20%;
        margin-left: -430px;

        // margin-left: 126px;
        // margin-top: 28px;
        // bottom: 98px;
        img {
            // width: 20vw;
        }
    }
}

/*    local_items
------------------------------------*/
.local_items {
    padding-bottom: 150px;
    .title_h2 {
        padding: 115px 0 60px;
    }
    .list_items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .items {
        position: relative;
        padding: 0 5px 15px;
    }
    .link_items {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 35px;
    }
}

/*    local_circle
------------------------------------*/
.local_circle {
    padding: 150px 0;
    display: flex;
    // justify-content: center;
    .circle_description {
        // margin-right: -55px;
        margin-left: 50px;
    }
    .circle_img {
        margin-left: -80px;
        position: relative;
        img {
            // max-width: 100%;
        }
        .circle_01 {
            position: relative;
            // width: 89%;
        }
        .circle_02 {
            opacity: 0;
            position: absolute;
            top: 26px;
            right: -135px;
            // width: 100%;
            transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transform: scale(0.9);
            &.show {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

/*    local_video
------------------------------------*/
.local_video {
    background: url('../images/bg_content.jpg') center;
    background-size: cover;
    height: 678px;
    text-align: center;
    .title_h2 {
        position: relative;
        top: -34px;
    }
    .video_content {
        margin-top: -20px;
    }
}

/*    local_step
------------------------------------*/
.local_step {
    padding: 145px 0;
    .title_h3 {
        padding: 45px 0;
    }
    .list_step {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .items {
        position: relative;
        padding: 0 5px;
    }
    .link_step {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        text-align: center;
    }
    .btn {
        padding-top: 30px;
    }
}
/*    local_form
------------------------------------*/
.local_form {
    .local_form_in {
        background: url('../images/bg_red.png') center no-repeat;
        background-size: cover;
        padding-bottom: 45px;
    }
    .form_box {
        display: flex;
        justify-content: center;
    }
    .box_form {
        position: relative;
        padding: 40px 5px 0;
        margin-bottom: 40px;
    }
    .input_form {
        display: flex;
        position: absolute;
        left: 28px;
        bottom: 20px;
        &.blue {
            input {
                border: 2px solid #0096cd;
            }
            button {
                background: #0096cd;
                border: 2px solid #0096cd;
            }
        }
        input {
            position: relative;
            padding-left: 10px;
            border: 2px solid #cd004d;
            background: transparent;
            width: 380px;
            height: 62px;
            color: #b0b0b0;
            font-size: 22px;
            &::placeholder {
                color: #b0b0b0;
            }
        }
        button {
            cursor: pointer;
            color: #fff;
            font-weight: bold;
            background: #cd004d;
            font-size: 20px;
            position: relative;
            // left: -5px;
            border: 2px solid #cd004d;
            width: 70px;
            height: 62px;
            transition-duration: 0.4s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .text {
        text-align: center;
    }
}
